*.o
*.a
demo_synthetic
demo_calibrate
demo_track
test_mv
out_cloud.ply
target_letter.pgm
doc/*.aux
doc/*.log
doc/*.bbl
doc/*.blg
doc/*.out
doc/*.toc
out_track.ply
demo_diagnose
demo_insects
demo_lightlog
demo_people
doc/*.brf
demo_patternsim
out_patternsim.pgm
demo_tsdf
out_tsdf.ply
demo_room
out_room_left.pgm
out_room_disp.pgm
out_room_mesh.pgm
out_room_change.pgm
out_room.ply
out_room_rect.pgm
out_room_truth.pgm
out_room_truth.ppm
out_room_mesh.ppm
calibreal
scenecloud
rigcalib
annotate
slreal
demo_slight
test_refine
test_optimal
test_feat
test_session
